# The Plone version is pinned into the base.cfg by extending a versions.cfg
# These versions will pin our release profiles to a specific version
# this will help with repeatability.
[versions]
collective.recipe.plonesite = 1.5
collective.recipe.z2testrunner = 0.3.1
i18ndude = 3.2.2
ipython = 0.12.1
jarn.checkinterval = 1.0
ordereddict = 1.1
Pillow = 1.7.7
plone.app.debugtoolbar = 1.0a2
plonetheme.transition = 1.3
Products.DocFinderTab = 1.0.5
Products.PDBDebugMode = 1.3.1
Products.PrintingMailHost = 0.7
Products.signalstack = 1.0rc2
sixfeetup.customfolderalert = 1.2
sixfeetup.utils = 2.8
threadframe = 0.2
z3c.deadlockdebugger = 0.2
z3c.recipe.tag = 0.3.0
